@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border: 1px solid #8080802f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e6e6e6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

body {
    padding-top: 70px;
    /* Adjust this value based on your header height */
}

.shadows {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


@layer utilities {
    .container {
        @apply mx-auto max-w-[1440px] px-6 lg:px-12;
    }

    .flexCenter {
        @apply flex items-center justify-center;
    }

    .flexBetween {
        @apply flex items-center justify-between;
    }

    .flexStart {
        @apply flex items-center justify-start;
    }

    .flexEnd {
        @apply flex items-center justify-end;
    }
}